@model Identikit.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    @Styles.Render(Identikit.Constants.ResetStylesBundle)
    @Styles.Render(Identikit.Constants.BootstrapStyleBundle)
    @Styles.Render(Identikit.Constants.LoginStylesBundle)
</head>
<body>
    <div class="login-center-wrapper">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "col-md-8" }))
        {
            <table cellpadding="8">
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Login)
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control"})
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Password)
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="RememberMe">Remember me</label>
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                       <input type="submit" value="Sign In" class="btn btn-info login-btn"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Sign Up" class="btn btn-info login-btn"/>
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
